<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    height="50"
    alt="IUT Logo"
    src="https://www.iut.univ-paris8.fr/sites/default/files/inline-images/LOGO%20IUT%20MONTREUIL%20BLANC%20Moyen.png"
    (click)="goToHome()"
    style="cursor: pointer"
  />
  <span>{{title}}{{edtName}}</span>
  <span class="spacer"></span>
  <a *ngIf="userConnected" (click)="goToEnt()">Emploi du temps</a>
  <a *ngIf="!userConnected" (click)="login()">Connexion</a>
  <a *ngIf="userConnected" (click)="logout()">Déconnexion</a>
</div>
