<!-- Content -->
<div class="schedule-container" role="main">
  <ejs-schedule
    id="schedule" #scheduleObj
    [eventSettings]='eventSettings'
    startHour="08:00"
    endHour="19:00"
    timeFormat="HH:mm"
    dateFormat="dd MMMM yyyy"
    [firstDayOfWeek]=fistDayOfWeek
    width="100vw"
    height="100%"
    [showWeekend]=false
    currentView="Week"
    cssClass='schedule-event-template'
    (eventRendered)="applyCategoryColor($event)">
    <e-views>
      <e-view option="Day"></e-view>
      <e-view option="Week"></e-view>
      <e-view option="Month">
        <ng-template #eventTemplate let-data>
          <div class='template-wrap'>
            <span class="e-time">{{data.StartTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}}</span><span class="e-subject">{{data.Subject}}</span>
          </div>
        </ng-template>
      </e-view>
      <e-view option="Agenda"></e-view>
    </e-views>

    <ng-template #eventSettingsTemplate let-data>
      <div class='template-wrap'>
        <div class="subject">{{data.Subject}}</div>
        <div class="location"><span class="mdi mdi-map-marker"></span> {{data.Location}}</div>
        <div class="teacher"><span class="mdi mdi-account"></span> {{data.Teacher}}</div>
        <div class="time">
          <span class="mdi mdi-clock"></span>
          {{data.StartTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}}
          - {{data.EndTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}}
          ({{data.DuringTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}})
        </div>
      </div>
    </ng-template>

    <ng-template #quickInfoTemplatesContent let-data>
      <div class="quick-info-content">
        <div class="e-cell-content">
          <div class="e-location"><span class="mdi mdi-map-marker"></span> {{data.Location}}</div>
          <div class="e-location"><span class="mdi mdi-account"></span> {{data.Teacher}}</div>
          <div class="e-date-time">
            <span class="mdi mdi-clock"></span>
            {{data.StartTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}}
            - {{data.EndTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}}
            ({{data.DuringTime.toLocaleTimeString('fr-FR', {hour: "numeric", minute: "numeric"})}})
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-schedule>
</div>
