
/* Schedule style */
.schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
  border-radius: 8px;
}

.schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
}

.schedule-event-template.e-schedule .template-wrap {
  height: 100%;
  white-space: normal;
}

.schedule-event-template.e-schedule .template-wrap .image {
  padding: 8px 0 4px;
}

.schedule-event-template.e-schedule .template-wrap .image img {
  height: 100%;
  width: 100%;
  padding: 10px 25%;
}

.schedule-event-template.e-schedule .template-wrap .subject {
  font-weight: 600;
  font-size: 15px;
  padding: 4px 4px 4px;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.schedule-event-template.e-schedule .template-wrap .time {
  height: 50px;
}

.schedule-event-template.e-schedule .template-wrap .time,
.schedule-event-template.e-schedule .template-wrap .description,
.schedule-event-template.e-schedule .template-wrap .location,
.schedule-event-template.e-schedule .template-wrap .teacher {
  font-size: 12px;
  padding: 4px 6px 4px;
  overflow: hidden;
}

.schedule-event-template.e-schedule .template-wrap .footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .template-wrap {
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .template-wrap .subject {
  font-size: 16px;
  height: 36px;
  text-align: center;
  border-style: solid;
  border-width: 0 15px;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment,
.e-schedule .e-month-view .e-appointment,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-subject-wrap .e-subject,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-close,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-close:hover {
  color: #333333;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-delete,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-edit {
  display: none;
}

.e-schedule .e-vertical-view .e-selected-cell,
.e-schedule .e-vertical-view .e-work-cells,
.e-schedule .e-vertical-view .e-work-cells:hover,
.e-schedule .e-vertical-view .e-work-hours,
.e-schedule .e-vertical-view .e-work-hours:hover {
  background-color: #fafafa;
}
