<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://www.iut.univ-paris8.fr/sites/default/files/LOGO%20IUT%20MONTREUIL%20Moyen.jpg"
  />
  <span>{{title}}</span>
  <div class="spacer"></div>
  <span style="margin-right: 10px">Bonjour Bob</span>
</div>

<!-- Content -->
<div class="schedule-container" role="main">
  <ejs-schedule
    id="schedule" #scheduleObj
    [eventSettings]='eventSettings'
    startHour="08:00"
    endHour="19:00"
    firstDayOfWeek="1"
    width="100vw"
    height="100%"
    [showWeekend]=false
    currentView="Week">
    <e-views>
      <e-view option="Day"></e-view>
      <e-view option="Week"></e-view>
      <e-view option="Month"></e-view>
      <e-view option="Agenda"></e-view>
    </e-views>
  </ejs-schedule>
</div>

