@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
@import '~@mdi/font/css/materialdesignicons.css';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #247CA9;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
}

.content, .schedule-container {
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
}

body {
  background-color: #F4FCFC;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

/* Schedule style */
.schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
  border-radius: 8px;
}

.schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
}

.schedule-event-template.e-schedule .template-wrap {
  height: 100%;
  white-space: normal;
}

.schedule-event-template.e-schedule .template-wrap .image {
  padding: 8px 0 4px;
}

.schedule-event-template.e-schedule .template-wrap .image img {
  height: 100%;
  width: 100%;
  padding: 10px 25%;
}

.schedule-event-template.e-schedule .template-wrap .subject {
  font-weight: 600;
  font-size: 15px;
  padding: 4px 4px 4px;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.schedule-event-template.e-schedule .template-wrap .time {
  height: 50px;
}

.schedule-event-template.e-schedule .template-wrap .time,
.schedule-event-template.e-schedule .template-wrap .description,
.schedule-event-template.e-schedule .template-wrap .location,
.schedule-event-template.e-schedule .template-wrap .teacher {
  font-size: 12px;
  padding: 4px 6px 4px;
  overflow: hidden;
}

.schedule-event-template.e-schedule .template-wrap .footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .template-wrap {
  width: 100%;
}

.schedule-event-template.e-schedule .e-timeline-view .template-wrap .subject {
  font-size: 16px;
  height: 36px;
  text-align: center;
  border-style: solid;
  border-width: 0 15px;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment,
.e-schedule .e-month-view .e-appointment,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-subject-wrap .e-subject,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-close,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-close:hover {
  color: #333333;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-delete,
.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-edit {
  display: none;
}

.e-schedule .e-vertical-view .e-selected-cell,
.e-schedule .e-vertical-view .e-work-cells,
.e-schedule .e-vertical-view .e-work-cells:hover,
.e-schedule .e-vertical-view .e-work-hours,
.e-schedule .e-vertical-view .e-work-hours:hover {
  background-color: #fafafa;
}

/* Print mode */
.printmode .toolbar, .printmode .e-previous-timeline, .printmode .e-current-timeline, .printmode .e-next, .printmode .e-prev, .printmode .e-excel-export, .printmode .e-toolbar-right, .printmode #printEdtToPDFButton {
  display: none !important;
}

.printmode .e-current-date > div {
  background: none !important;
  color: black !important;
}

.printmode .schedule-container {
  height: 100vh;
  margin: 0;
}
