/* Home screen */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #F4FCFC;
  gap: 20px;
}

.home-cours {
  padding: 5px 10px;
  border-radius: 5px;
  border: lightgray 1px solid;
}

.home-cours.active {
  border-color: #247CA9;
  border-width: 2px;
}

.home-cours h4 {
  margin: 0 0 5px;
}

#homeContentContainer {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-auto-rows: min-content;
}

#homeTwitterContainer {
  overflow: auto;
}

p {
  text-align: justify;
}
