<form (submit)="login()">
  <div id="connexion">
    <h1 style="text-align: center; height: min-content; margin: auto">Connexion</h1>

    <small *ngIf="error" id="loginError">Identifiants invalides</small>

    <div id="inputLoginDiv">
      <div class="inputDiv">
        <label><span class="mdi mdi-account"></span> Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="credentials.username" name="username"
               placeholder="Entrez le nom d'utilisateur">
      </div>
      <div class="inputDiv">
        <label><span class="mdi mdi-lock"></span> Mot de passe</label>
        <input type="password" [(ngModel)]="credentials.password" name="password"
               placeholder="Entrez le mot de passe">
      </div>
    </div>

    <div id="loginButtonDiv">
      <button *ngIf="loading" style="cursor: wait"><i class="fa fa-circle-o-notch fa-spin"></i>  Chargement</button>
      <button *ngIf="!loading" type="submit"><span>Connexion</span></button>
    </div>
  </div>
</form>
